[submodule "doctrina-pelican_theme"]
	path = doctrina-pelican_theme
	url = git@bitbucket.org:bsteyn/doctrina-pelican_theme.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "plugins/other/links_in_print"]
	path = plugins/other/links_in_print
	url = git@github.com:barrysteyn/links_in_print.git
